<div
  class="section bg-white d-flex align-items-lg-center justify-content-lg-center"
>
  <app-language class="lang-btn-drop" />

  <div class="container">
    <div class="row">
      <!-- <div
        class="col-12 col-sm-12 col-md-12 col-lg-6 order-last order-lg-first"
      >
        <figure class="w-100">
          <img
            src="assets/img/product-manager-two-color.svg"
            class="img-fluid"
            alt="..."
          />
        </figure>
      </div> -->
      <div class="col-12">
        <!-- <div class="app-brand justify-content-center mb-4">
              <a class="app-brand-link">
                <span class="app-brand-logo demo">
                  <img [src]="logoUrl" loading="lazy" />
                </span>
              </a>
            </div> -->
        <div class="panda">
          <div class="ear"></div>
          <div class="face">
            <div class="eye-shade"></div>
            <div class="eye-white">
              <div class="eye-ball"></div>
            </div>
            <div class="eye-shade rgt"></div>
            <div class="eye-white rgt">
              <div class="eye-ball"></div>
            </div>
            <div class="nose"></div>
            <div class="mouth"></div>
          </div>
          <div class="body"></div>
          <div class="foot">
            <div class="finger"></div>
          </div>
          <div class="foot rgt">
            <div class="finger"></div>
          </div>
        </div>
        <form
          [ngClass]="{ up: isFormUp, 'wrong-entry': isWrongEntry }"
          [formGroup]="LoginForm"
          (ngSubmit)="loginSubmit()"
        >
          <div class="hand"></div>
          <div class="hand rgt"></div>
          <div class="text-center">
            <span>
              <img width="200px" [src]="logoUrl" loading="lazy" />
            </span>
            <!-- <h1>
                  {{
                    router === "/login"
                      ? common.LOGIN?.LOGIN?.Login_name
                      : "Login Your Account"
                  }}
                </h1> -->
          </div>

          <div class="form-group">
            <input
              type="text"
              name=""
              class="form-control"
              required="required"
              formControlName="emailId"
              autocomplete="webauthn"
            />
            <label class="form-label">
              {{
                router === "/login" ? common.LOGIN?.LOGIN?.Email : "Email"
              }}</label
            >
          </div>

          <div class="form-group">
            <input
              type="{{ passwordHidden ? 'text' : 'password' }}"
              name=""
              class="form-control"
              required="required"
              formControlName="password"
              (focus)="onFocusIn()"
              (blur)="onFocusOut()"
            />
            <label class="form-label">{{
              router === "/login" ? common.LOGIN?.LOGIN?.Password : "Password"
            }}</label>
          </div>
          <div
            class="m-3 d-flex justify-content-between"
            *ngIf="router === '/login'"
          >
            <a
              [routerLink]="[routerRedirect.Forgetpassword]"
              class="fw-semibold dark-blue fs-7"
              >{{ common.LOGIN?.LOGIN?.Forgot_Pass }}</a
            >
            <p class="text-center fs-7">
              <!-- <span>{{ common.LOGIN?.LOGIN?.Dont_acc }}</span
                  >&nbsp;<br /> -->
              <a
                [routerLink]="[routerRedirect.Signup]"
                class="fw-semibold dark-blue"
                >{{ common.LOGIN?.LOGIN?.Create_Acc }}</a
              >
            </p>
          </div>

          <div class="text-center">
            <button type="submit" class="btn">
              {{
                router === "/admin" ? "Admin Login" : common.LOGIN?.LOGIN?.Login
              }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- <div
class="col-12 col-sm-12 col-md-12 col-lg-6 order-last order-lg-first"
>
<figure class="w-100">
  <img
    src="assets/img/product-manager-two-color.svg"
    class="img-fluid"
    alt="..."
  />
</figure>
</div>
<div
class="col-12 col-sm-12 col-md-12 col-lg-5 offset-lg-1 order-first order-lg-last"
>
<div class="authentication-wrapper authentication-basic container-p-y">
  <div class="authentication-inner">
    <div class="app-brand justify-content-center mb-4">
      <a class="app-brand-link">
        <span class="app-brand-logo demo">
          <img [src]="logoUrl" loading="lazy" />
        </span>
      </a>
    </div>

    <h4 class="mb-4 text-center">
      {{
        router === "/login"
          ? common.LOGIN?.LOGIN?.Login_name
          : "Login Your Account"
      }}
    </h4>


    <form
      id="formAuthentication"
      class="mb-4"
      [formGroup]="LoginForm"
      (ngSubmit)="loginSubmit(LoginForm)"
    >
      // <div *ngIf="isTrue">
        <h6 class="head6 text-center">
          {{  LOGIN?.DETAILS?.Your_email_id_is_not_verified ? LOGIN?.DETAILS?.Your_email_id_is_not_verified : "Your email id is not verified"}}!
        </h6>
        <p class="otpverify">{{ LOGIN?.DETAILS?.Please ? LOGIN?.DETAILS?.Please : 'Please'}} <span class="click"
            (click)="resend(this.loginRes);">{{LOGIN?.DETAILS?.click_here ? LOGIN?.DETAILS?.click_here : 'click here'}}</span>
          {{LOGIN?.DETAILS?.to_send_the_OTP_to_your_email_account_to_verify_your_email ? LOGIN?.DETAILS?.to_send_the_OTP_to_your_email_account_to_verify_your_email : 'to send the OTP to your email account to verify your email' }}
        </p>
      </div>
      <div *ngIf="isActivate">
        <h6 class="head6 text-center">
          {{LOGIN?.DETAILS?.Activation_is_pending ? LOGIN?.DETAILS?.Activation_is_pending : 'Activation is pending'}}!
        </h6>
        <p class="otpverify">{{ LOGIN?.DETAILS?.Please ? LOGIN?.DETAILS?.Please : 'Please'}} <span class="click"
            (click)="activateFn(this.loginRes.business_account?.id);">{{LOGIN?.DETAILS?.click_here ? LOGIN?.DETAILS?.click_here : 'click here'}}</span>
          {{LOGIN?.DETAILS?.to_submit_the_activation_request_to_the_admin_promptly ? LOGIN?.DETAILS?.to_submit_the_activation_request_to_the_admin_promptly : 'to submit the activation request to the admin promptly'}}
        </p>
      </div> //

      <div class="mb-3">
        <div class="position-relative">
          <label class="form-label">
            {{
              router === "/login" ? common.LOGIN?.LOGIN?.Email : "Email"
            }}
          </label>
          <input
            type="email"
            class="form-control"
            autoComplete="webauthn"
            [ngClass]="{
              'is-invalid': valiadateReturn(email)
            }"
            formControlName="emailId"
            name="email"
            placeholder="Email"
          />
          @if (valiadateReturn(email)) {
          <div class="invalid-feedback position-absolute start-0">
            {{ 
                email['errors']?.['required'] && 
               router === "/login" ? common.LOGIN?.LOGIN?.Email_req ? common.LOGIN?.LOGIN?.Email_req : "Email is required" 
                : email['errors']?.['email'] && router === "/login" 
                    ? (common.LOGIN?.LOGIN?.Email_invalid ? common.LOGIN?.LOGIN?.Email_invalid 
                    : "Invalid email address") :''
            }}
          </div>
          }
        </div>
      </div>
      <div class="form-password-toggle mb-4">
        <div class="position-relative">
          <label class="form-label"
            >{{
              router === "/login"
                ? common.LOGIN?.LOGIN?.Password
                : "Password"
            }}
          </label>
          <div class="input-group input-group-merge">
            <input
              type="{{ passwordHidden ? 'password' : 'text' }}"
              class="form-control"
              autoComplete="webauthn"
              [ngClass]="{
                'is-invalid':
                  password.invalid &&
                  (password.dirty || password.touched)
              }"
              formControlName="password"
              name="password"
              placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
              aria-describedby="password"
            />
            @if (valiadateReturn(password)) {
            <div class="invalid-feedback position-absolute start-0">
              {{
                  password['errors']?.['required'] && router === "/login"
                    ? common.LOGIN?.LOGIN?.Password_req
                    : "Password is required"
              }}
            </div>
            }

            <span
              class="input-group-text cursor-pointer"
              (click)="passwordHidden = !passwordHidden"
            >
              <i
                class="fa-regular"
                [class.fa-eye]="passwordHidden"
                [class.fa-eye-slash]="!passwordHidden"
              ></i>
            </span>
          </div>
        </div>
      </div>
      <div class="mb-3" *ngIf="router === '/login'">
        <a
          [routerLink]="[routerRedirect.Forgetpassword]"
          class="fw-semibold dark-blue fs-7"
          >{{ common.LOGIN?.LOGIN?.Forgot_Pass }}</a
        >
      </div>

      <button
        [disabled]="(progressBarService.isLoading | async) != 0"
        type="submit"
        class="btn btn-dark-blue btn-block w-100"
        *ngIf="
          router === '/admin'
            ? 'Admin Login'
            : common.LOGIN?.LOGIN?.Login
        "
      >
        <span *ngIf="(progressBarService.isLoading | async) == 0">
          {{
            router === "/admin"
              ? "Admin Login"
              : common.LOGIN?.LOGIN?.Login
          }}
        </span>
        <i
          class="fa-solid fa-circle-notch fa-spin"
          *ngIf="(progressBarService.isLoading | async) != 0"
          style="color: white"
        ></i>
      </button>
    </form>

    <p class="text-center fs-7" *ngIf="router === '/login'">
      <span>{{ common.LOGIN?.LOGIN?.Dont_acc }}</span
      >&nbsp;
      <a
        [routerLink]="[routerRedirect.Signup]"
        class="fw-semibold dark-blue"
        >{{ common.LOGIN?.LOGIN?.Create_Acc }}</a
      >
    </p>
  </div>
</div>
</div> -->
