<aside
  id="layout-menu"
  class="layout-menu menu-vertical menu bg-menu-theme"
  data-bg-class="bg-menu-theme"
>
  <div class="app-brand demo">
    <a (click)="getRouterLink()" class="app-brand-link">
      <span class="app-brand-logo demo">
        <img [src]="logoUrl" />
      </span>
    </a>
    <a class="layout-menu-toggle menu-link text-large ms-auto d-xl-none">
      <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>
  <ul id="menu-scroll" class="menu-inner py-1 pt-4 sidescroll">
    <li
      class="menu-item"
      *ngFor="let menu of privilage"
      [ngClass]="{ open: menu.isOpen }"
      [routerLinkActive]="['active']"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
      title="{{ menu?.common?.selectedLang?.code }}"
      (click)="linkClicked()"
    >
      <a
        class="menu-link"
        (click)="toggleMenu(menu)"
        [ngClass]="{ 'menu-toggle': menu?.submenu && menu?.submenu.length > 0 }"
        [routerLink]="menu.Rp !== null ? [menu.front_router] : null"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <i class="menu-icon tf-icons {{ menu.icon }}"></i>
        <span>{{ menu?.common?.selectedLang?.code }}</span>
      </a>

      <ul
        *ngIf="menu.submenu && menu.submenu.length > 0"
        id="menu-scroll"
        class="menu-sub menu-inner"
      >
        <li
          class="menu-item"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="{{ subMenu?.common?.selectedLang?.code }}"
          *ngFor="let subMenu of menu.submenu"
          [ngClass]="{ open: subMenu.isOpen }"
          [routerLinkActive]="['active']"
          [ngClass]="{ open: menu.submenu.isOpen }"
          (click)="linkClicked()"
        >
          <a
            class="menu-link"
            [routerLink]="[subMenu.front_router]"
            routerLinkActive="active"
            (click)="toggleSubMenu(subMenu)"
          >
            <i class="menu-icon tf-icons {{ subMenu.icon }}"></i>
            <span>{{ subMenu?.common?.selectedLang?.code }}</span>
          </a>
        </li>
      </ul>
    </li>
    <ng-container *ngFor="let menu of archive">
      <li
        *ngIf="
          common.userDetails?.role === Roles.Admin ||
          common.userDetails?.role === 'Project Manager'
        "
        class="menu-item"
        [ngClass]="{ open: menu.isOpen }"
        [routerLinkActive]="['active']"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="{{ menu?.common?.selectedLang?.code }}"
        (click)="linkClicked()"
      >
        <a
          class="menu-link"
          (click)="archtoggleMenu(menu)"
          [ngClass]="{
            'menu-toggle': menu?.submenu && menu?.submenu.length > 0
          }"
          [routerLink]="menu.Rp !== null ? [menu.front_router] : null"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i class="fa-solid fa-file-arrow-down menu-icon tf-icons"></i>
          <span>Archive</span>
        </a>
        <ul
          *ngIf="menu.submenu && menu.submenu.length > 0"
          id="menu-scroll"
          class="menu-sub menu-inner"
        >
          <li
            class="menu-item"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="{{ subMenu?.common?.selectedLang?.code }}"
            *ngFor="let subMenu of menu.submenu"
            [ngClass]="{ open: subMenu.isOpen }"
            [routerLinkActive]="['active']"
            [ngClass]="{ open: menu.submenu.isOpen }"
            (click)="linkClicked()"
          >
            <a
              class="menu-link"
              [routerLink]="[subMenu.front_router]"
              routerLinkActive="active"
              (click)="archtoggleSubMenu(subMenu)"
            >
              <i class="menu-icon tf-icons {{ subMenu.icon }}"></i>
              <span>{{ subMenu.common.selectedLang?.code }}</span>
            </a>
          </li>
        </ul>
      </li>
    </ng-container>
  </ul>
</aside>
