<!-- Chat Button -->
<div class="chat-button" (click)="toggleContactBox()">
  <i class="bx bx-chat"></i>
</div>

<!-- Contact Box -->
<div
  class="chat-box"
  *ngIf="isContactBoxVisible"
  [ngStyle]="{ visibility: contactBoxVisibility }"
>
  <div class="chat-box-header pb-0">
    <nav>
      <div class="nav nav-tabs px-2" id="nav-tab" role="tablist">
        <div
          class="nav-link active"
          id="nav-home-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-home"
          type="button"
          role="tab"
          aria-controls="nav-home"
          aria-selected="true"
        >
          Home
        </div>
        <div
          class="nav-link"
          id="nav-profile-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-profile"
          type="button"
          role="tab"
          aria-controls="nav-profile"
          aria-selected="false"
        >
          Profile
        </div>
      </div>
    </nav>
    <p (click)="toggleContactBox()"><i class="fa fa-times"></i></p>
  </div>

  <div class="contact-box-body-list">
    <div class="w-100" *ngFor="let messager of messengers">
      <div class="contact-box-body" (click)="openChatBox()">
        <div class="avatar avatar-sm me-3">
          <img class="rounded-circle" [src]="messager.profileurl" />
        </div>
        <div>
          <h6 class="m-0">{{ messager.name }}</h6>
          <small>{{ messager.role }}</small>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Chat Box -->
<div
  class="chat-box"
  *ngIf="isChatBoxVisible"
  [ngStyle]="{ visibility: chatBoxVisibility }"
>
  <div class="chat-box-header align-items-center">
    <i
      class="bx bx-arrow-back cursor-pointer mx-3"
      (click)="closeChatBox()"
    ></i>
    <h3>Message Us</h3>
  </div>

  <div class="chat-box-body">
    <div
      *ngFor="let message of messages"
      [ngClass]="{ 'chat-header-send': message.type === 'send' }"
    >
      <div
        [ngClass]="{
          'chat-box-body-send': message.type === 'send',
          'chat-box-body-receive': message.type === 'receive'
        }"
      >
        <p>{{ message.text }}</p>
        <span>{{ message.time }}</span>
      </div>
    </div>
  </div>

  <div class="chat-box-footer">
    <button id="addExtra">
      <i class="fa fa-plus"></i>
    </button>
    <input
      [(ngModel)]="newMessage"
      placeholder="Enter Your Message"
      type="text"
      (keyup.enter)="sendMessage()"
    />
    <i class="send far fa-paper-plane" (click)="sendMessage()"></i>
  </div>
</div>
