<div
  class="section bg-white d-flex align-items-lg-center justify-content-lg-center reg-login-section"
>
  <app-language class="lang-btn-drop" />
  <div class="container">
    <div class="row align-items-center">
      <div
        class="col-12 col-sm-12 col-md-12 col-lg-6 order-last order-lg-first"
      >
        <figure class="w-75 m-auto">
          <img
            src="assets/img/password-monochromatic.svg"
            class="img-fluid"
            alt="..."
          />
        </figure>
      </div>
      <div
        class="col-12 col-sm-12 col-md-12 col-lg-5 offset-lg-1 order-first order-lg-last"
      >
        <div class="authentication-wrapper authentication-basic container-p-y">
          <div class="authentication-inner">
            <!-- Logo -->
            <div class="app-brand justify-content-center mb-4">
              <a class="app-brand-link">
                <span class="app-brand-logo demo">
                  <img [src]="logoUrl" />
                </span>
              </a>
            </div>
            <!-- /Logo -->
            <h4 class="mb-4 text-center">
              {{ common.LOGIN?.FORGOT?.Forg_Pas }}
            </h4>

            <form
              class="mb-4"
              [formGroup]="forgotForm"
              (ngSubmit)="forgotSubmit()"
            >
              <div class="mb-3">
                <label class="form-label">
                  {{ common.LOGIN?.FORGOT?.Email }}
                </label>
                <div class="position-relative">
                  <input
                    type="email"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': valiadateReturn(email)
                    }"
                    formControlName="emailId"
                    placeholder="{{ common.LOGIN?.FORGOT?.Email }} "
                  />
                  @if (valiadateReturn(email)) {
                  <div class="invalid-feedback position-absolute start-0">
                    <div>
                      {{ email['errors']?.['required'] ? common.LOGIN?.FORGOT?.Email_req : email['errors']?.['email'] ? common.LOGIN?.FORGOT?.Email_inval:''}}
                    </div>
                  </div>
                  }
                </div>
              </div>
              <!-- <button class="btn btn-dark-blue btn-block w-100 top" type="submit">Verify
                  Email</button> -->
              <button
                [disabled]="(progressBarService.isLoading | async) != 0"
                type="submit"
                class="btn btn-dark-blue btn-block w-100 top"
              >
                <span *ngIf="(progressBarService.isLoading | async) == 0">
                  {{ common.LOGIN?.FORGOT?.Verify_Ema }}
                </span>
                <i
                  class="fa-solid fa-circle-notch fa-spin"
                  *ngIf="(progressBarService.isLoading | async) != 0"
                  style="color: white"
                ></i>
              </button>
            </form>

            <p class="d-flex justify-content-between align-item-center">
              <a
                [routerLink]="[routerRedirect.Login]"
                class="fw-semibold dark-blue"
                ><i class="fa fa-chevron-left me-2"></i
                >{{ common.LOGIN?.FORGOT?.Back_log }}
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
