<div
  class="section bg-white d-flex align-items-lg-center justify-content-lg-center reg-login-section"
>
  <app-language class="lang-btn-drop" />

  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 order-last order-lg-first">
        <figure
          class="w-60 m-auto h-100 d-flex align-items-center justify-content-center"
        >
          <img src="assets/img/login-image.png" class="img-fluid" alt="..." />
        </figure>
      </div>
      <div class="col-12 col-lg-5 offset-lg-1 order-first order-lg-last">
        <div class="authentication-wrapper authentication-basic container-p-y">
          <div class="authentication-inner">
            <div class="app-brand justify-content-center mb-4">
              <a class="app-brand-link">
                <span class="app-brand-logo demo">
                  <img [src]="logoUrl" />
                </span>
              </a>
            </div>

            <h4 class="mb-4 text-center">
              {{ common.LOGIN?.SIGNIN?.Register_Acc }}
            </h4>
            <!-- <app-header></app-header> -->

            <form
              class="mb-4"
              [formGroup]="signUpForm"
              (ngSubmit)="registerSubmit()"
            >
              <div class="row">
                <div class="col mb-3">
                  <label class="form-label">{{
                    common.LOGIN?.SIGNIN?.First_Name
                  }}</label>
                  <div class="position-relative">
                    <input
                      type="text"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid': valiadateReturn(firstname)
                      }"
                      formControlName="firstname"
                      placeholder="{{ common.LOGIN?.SIGNIN?.First_Name }}"
                    />
                    @if (valiadateReturn(firstname)) {
                    <div class="invalid-feedback position-absolute start-0">
                      {{firstname['errors']?.['required'] ? common.LOGIN?.SIGNIN?.First_req :''}}
                    </div>
                    }
                  </div>
                </div>

                <div class="col mb-3">
                  <label class="form-label">{{
                    common.LOGIN?.SIGNIN?.Last_Name
                  }}</label>

                  <div class="position-relative">
                    <input
                      type="text"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid': valiadateReturn(lastname)
                      }"
                      formControlName="lastname"
                      placeholder="{{ common.LOGIN?.SIGNIN?.Last_Name }}"
                    />
                    @if (valiadateReturn(lastname)) {
                    <div class="invalid-feedback position-absolute start-0">
                      {{lastname['errors']?.['required'] ? common.LOGIN?.SIGNIN?.Last_req :''}}
                    </div>
                    }
                  </div>
                </div>
              </div>

              <div class="mb-3">
                <label class="form-label">
                  {{ common.LOGIN?.SIGNIN?.Company_Name }}</label
                >
                <div class="position-relative">
                  <input
                    type="text"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': valiadateReturn(companyname)
                    }"
                    formControlName="companyname"
                    placeholder="{{ common.LOGIN?.SIGNIN?.Enter_ComNam }}"
                  />
                  @if (valiadateReturn(companyname)) {
                  <div class="invalid-feedback position-absolute start-0">
                    {{companyname['errors']?.['required'] ? common.LOGIN?.SIGNIN?.Company_req :''}}
                  </div>
                  }
                </div>
              </div>

              <div class="row">
                <div class="col-12 col-sm-6 mb-4">
                  <label class="form-label">{{
                    common.LOGIN?.SIGNIN?.Email
                  }}</label>
                  <div class="position-relative">
                    <input
                      type="email"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid': valiadateReturn(email)
                      }"
                      formControlName="emailId"
                      placeholder="{{ common.LOGIN?.SIGNIN?.Email }}"
                      autocomplete="webauthn"
                    />
                    @if (valiadateReturn(email)) {
                    <div class="invalid-feedback position-absolute start-0">
                      {{email['errors']?.['required'] ? common.LOGIN?.SIGNIN?.Email_req : email['errors']?.['email'] ? common.LOGIN?.SIGNIN?.Email_inval:''}}
                    </div>
                    }
                  </div>
                </div>

                <!-- <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-4">
                  <div>
                    <label class="form-label">{{
                      common.LOGIN?.SIGNIN?.Phn_no
                    }}</label>
                    <div class="position-relative">
                      <div class="wrapper">
                        <ngx-intl-tel-input
                          [cssClass]="'custom'"
                          [preferredCountries]="preferredCountries"
                          [enableAutoCountrySelect]="true"
                          [enablePlaceholder]="true"
                          [searchCountryFlag]="true"
                          [searchCountryField]="[
                            SearchCountryField.Iso2,
                            SearchCountryField.Name
                          ]"
                          [selectFirstCountry]="false"
                          [selectedCountryISO]="selectedCountryISO"
                          [phoneValidation]="false"
                          [separateDialCode]="separateDialCode"
                          [numberFormat]="PhoneNumberFormat.National"
                          name="phone"
                          formControlName="phone"
                          (change)="onBlurMethod($any($event.target).value)"
                        >
                        </ngx-intl-tel-input>
                      </div>

                    </div>
                  </div>
                </div> -->
              </div>

              <div class="row">
                <div class="col-12 col-sm-6 mb-4">
                  <div class="form-password-toggle">
                    <label class="form-label">{{
                      common.LOGIN?.SIGNIN?.Password
                    }}</label>
                    <div class="position-relative">
                      <div class="input-group input-group-merge">
                        <input
                          autocomplete="webauthn"
                          type="{{ passwordHidden ? 'password' : 'text' }}"
                          class="form-control"
                          [ngClass]="{
                            'is-invalid': valiadateReturn(password)
                          }"
                          formControlName="password"
                          placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                          aria-describedby="password"
                        />

                        @if (valiadateReturn(password)) {
                        <div class="invalid-feedback position-absolute start-0">
                          {{password['errors']?.['required'] ? common.LOGIN?.SIGNIN?.Pass_req : password['errors']?.['pattern'] ? common.LOGIN?.SIGNIN?.Upper_case: password['errors']?.['minlength'] ? common.LOGIN?.SIGNIN?.Pass_must:''}}
                        </div>
                        }
                        <span
                          class="input-group-text cursor-pointer"
                          (click)="passwordHidden = !passwordHidden"
                        >
                          <i
                            class="fa-regular"
                            [class.fa-eye]="passwordHidden"
                            [class.fa-eye-slash]="!passwordHidden"
                          ></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-sm-6 mb-4">
                  <div class="form-password-toggle">
                    <label class="form-label">
                      {{ common.LOGIN?.SIGNIN?.Confirm_pass }}</label
                    >
                    <div class="position-relative">
                      <div class="input-group input-group-merge">
                        <input
                          type="{{
                            confirmPasswordHidden ? 'password' : 'text'
                          }}"
                          class="form-control"
                          [ngClass]="{
                            'is-invalid': valiadateReturn(confirmPassword)
                          }"
                          formControlName="confirmPassword"
                          placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                          aria-describedby="password"
                        />

                        @if (confirmPassword['errors']) {
                        <div class="invalid-feedback position-absolute start-0">
                          {{
                            confirmPassword["hasError"]("required")
                              ? common.LOGIN?.SIGNIN?.Confirm_req
                              : confirmPassword["hasError"](
                                  "confirmPasswordValidator"
                                )
                              ? common.LOGIN?.SIGNIN?.Pass_match
                              : ""
                          }}
                        </div>
                        }

                        <span
                          class="input-group-text cursor-pointer"
                          (click)="
                            confirmPasswordHidden = !confirmPasswordHidden
                          "
                        >
                          <i
                            class="fa-regular"
                            [class.fa-eye]="confirmPasswordHidden"
                            [class.fa-eye-slash]="!confirmPasswordHidden"
                          ></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="my-3 mb-4">
                <div class="form-check">
                  <div class="position-relative d-flex">
                    <input
                      class="form-check-input me-2"
                      type="checkbox"
                      [ngClass]="{
                        'is-invalid': valiadateReturn(acceptTerms)
                      }"
                      formControlName="acceptTerms"
                      id="terms-conditions"
                      name="terms"
                    />

                    <label class="form-check-label fs-7" for="terms-conditions">
                      {{ common.LOGIN?.SIGNIN?.I_agree
                      }}<a class="dark-blue fw-semibold fs-7">
                        {{ common.LOGIN?.SIGNIN?.Privacy }}
                      </a>
                    </label>
                    @if (valiadateReturn(acceptTerms)) {
                    <div class="invalid-feedback position-absolute start-0">
                      {{
                        valiadateReturn(acceptTerms)
                          ? common.LOGIN?.SIGNIN?.Accepts
                          : ""
                      }}
                    </div>
                    }
                  </div>
                </div>
              </div>

              <button
                [disabled]="(progressBarService.isLoading | async) != 0"
                type="submit"
                class="btn btn-dark-blue btn-block w-100"
              >
                <span
                  style="position: relative"
                  *ngIf="(progressBarService.isLoading | async) == 0"
                >
                  {{ common.LOGIN?.SIGNIN?.Register }}
                </span>
                <i
                  class="fa-solid fa-circle-notch fa-spin loader-icon"
                  *ngIf="(progressBarService.isLoading | async) != 0"
                  style="color: white"
                ></i>
              </button>
            </form>

            <p class="text-center fs-7">
              <span>{{ common.LOGIN?.SIGNIN?.Already_acc }}</span
              >&nbsp;
              <a
                class="fw-semibold dark-blue"
                [routerLink]="[routerRedirect.Login]"
                >{{ common.LOGIN?.SIGNIN?.Login }}</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
