<nav
  class="layout-navbar container-xxl navbar navbar-expand-lg navbar-detached bg-navbar-theme p-2"
  id="layout-navbar"
>
  <div class="layout-menu-toggle navbar-nav d-xl-none">
    <a class="fs-4">
      <i class="fa-solid fa-bars-staggered"></i>
    </a>
  </div>
  <div class="navbar-nav d-none d-xl-block">
    <a class="sidebar-menu-toggle fs-4">
      <i class="fa-solid fa-bars-staggered"></i>
    </a>
  </div>
  <div class="ms-auto sf-nav-menu" id="navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <app-language></app-language>
      </li>
      <li class="nav-item">
        <!-- <div class="dropdown">
          <a (click)="fn.togglenotificateOffcanvas(this.lanCode)">
            <i class="fa-solid fa-bell fs-4"></i>
            <span
              class="badge bg-danger rounded-pill badge-notifications"
              *ngIf="fn.getCount > 0"
              >{{ fn.getCount }}</span
            >
          </a>
          <ul class="heightdrop dropdown-menu dropdown-menu-end">
            <li class="dropdown-header position-sticky top-0">
              <h6 class="m-0">{{ common.LOGIN?.SERVICE?.Notification }}</h6>
              <div class="dropdown-divider"></div>
            </li>
            <li
              *ngIf="notificationListRes && notificationListRes.length === 0"
              class="dropdown-item"
            >
              <p class="dropdown-item text-center">
                {{ common.LOGIN?.SERVICE?.No_notifications_found }}
              </p>
            </li>
            <ng-container
              *ngIf="notificationListRes && notificationListRes.length != 0"
            >
              <li
                *ngFor="let notify of notificationListRes"
                class="dropdown-item mb-2"
              >
                <div class="d-flex align-items-center sf-gap cursor-pointer">
                  <div class="avatar avatar-sm flex-shrink-0">
                    <img
                      class="rounded-circle"
                      [src]="
                        notify.fromuser.profile_url != null &&
                        notify.fromuser.profile_url != '' &&
                        notify.fromuser.profile_url != undefined
                          ? [notify.url]
                          : 'assets/img/avatars/new_user.jpeg'
                      "
                    />
                  </div>
                  <div (click)="moveTopage(notify)">
                    <p class="text-dark mb-2 fw-semibold">
                      {{ notify.fromuser.firstname }}
                      {{ notify.fromuser.lastname }}
                    </p>
                    <span class="d-block">{{
                      notify["message_" + this.lanCode]
                    }}</span>
                  </div>
                </div>
              </li>
            </ng-container>
            <li>
              <div class="dropdown-divider"></div>
              <div
                class="d-flex justify-content-between align-items-center px-4 py-2 position-sticky bottom-0"
              >
                <a [routerLink]="['/notification']">{{
                  common.LOGIN?.SERVICE?.View_All
                }}</a>
                <a [routerLink]="['/notify-settings']">
                  <i class="fa-solid fa-gear"></i>
                </a>
              </div>
            </li>
          </ul>
        </div> -->
      </li>
      <!-- User -->
      <li class="nav-item dropdown user-dropdown">
        <app-profile />
      </li>
    </ul>
  </div>
</nav>
