/* @import "~@ng-select/ng-select/themes/default.theme.css"; */
@media (max-width: 500px) {
	.fc .fc-toolbar {align-items: center;display: flex;flex-direction: column;}
	.fc-toolbar-chunk {margin-top: 5px;}
}
/* @import 'dragula/dist/dragula.css'; */

/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap'); */
@media (max-width: 500px){
	.fc .fc-toolbar {
		align-items: center;
		display: flex;
		flex-direction: column;
	}
	.fc-toolbar-chunk{
		margin-top:5px;
	}
}
/* .emp-title{
	color: #000 !important;
}
.event-title{
	color: #000 !important;
	font-weight: 500 !important;
	margin-left: 3px;
}
.divevent-title{
	display :flex;
	margin-bottom: -12px;
} */
/* .menu-vertical .menu-item .menu-link{
	padding:6px 16px !important;
} */
.iti {
	display: block !important;
	/* margin-bottom: 20px !important; */
}

/* Flag */
.iti{display:block!important}
.iti .dropdown-menu.country-dropdown{border-top-left-radius:0!important;border-top-right-radius:0!important;border-color:#c7cace!important;margin-top:-1px!important}
.iti .iti__country-list{box-shadow:none!important;font-size:14px!important;margin-left:0!important;width:244px!important;max-height:170px!important}
.iti__flag-container.open+input{border-bottom-left-radius:0!important;border-bottom-right-radius:0!important}
.iti .search-container input{font-size:14px!important;border-color:#c7cace!important;border-radius:0!important;padding:5px 10px!important}
.iti .search-container input:focus{outline:0!important}
@media screen and (max-width:479px){
.iti .iti__country-list{width:88.3vw!important}
}
ngx-intl-tel-input input{min-height:40px!important;margin-bottom:20px!important; border: 1px solid #C6C6C6;border-radius:0.25rem!important;font-size:14px!important;font-weight:400!important;font-family:var(--bs-font-manospace)!important; padding: 0.5rem 0.625rem;}
ngx-intl-tel-input.ng-invalid.ng-touched input{border:1px solid #c0392b!important}
.iti--allow-dropdown input,.iti--allow-dropdown input[type=tel],.iti--allow-dropdown input[type=text],.iti--separate-dial-code input,.iti--separate-dial-code input[type=tel],.iti--separate-dial-code input[type=text]{width:293px!important;height:36px!important;border-radius:0.25rem!important}
.widthcustomer{width:287px!important}
.widthcus{width:156px!important}
ngx-intl-tel-input input:hover{box-shadow:0 1px 0 0 rgba(0,0,0,.24)!important}
ngx-intl-tel-input input:focus{outline:0!important;border-color:#3498db!important;box-shadow:0 0 0 0 #000!important}
ngx-intl-tel-input input::-webkit-input-placeholder{color:#bac2c7!important}
ngx-intl-tel-input input:-ms-input-placeholder{color:#bac2c7!important}
ngx-intl-tel-input input::-ms-input-placeholder{color:#bac2c7!important}
ngx-intl-tel-input input::placeholder{color:#bac2c7!important}
ngx-intl-tel-input input[disabled]{background-color:#e5eaf1!important}
.curs {cursor: pointer !important;}
.top {	margin-top: 8px !important;}
.required {	color: red !important;}
.addpro {display: flex !important;}
.iti.iti--allow-dropdown input {width: 100% !important;}

/* .fc-event-title{white-space:nowrap!important;overflow:hidden!important;text-overflow:ellipsis!important;max-width:100px!important;cursor:pointer!important;font-weight:500!important;margin-left:5px!important} */
/* .fc-event-title:hover{overflow:visible!important;white-space:normal!important;word-wrap:break-word!important;max-width:none!important} */
.fc-event-time{display:none}
.card-single{display:flex;justify-content:space-between;background:rgba(249,193,193,.2);backdrop-filter:blur(16px);padding:1rem;border-radius:10px;box-shadow:0 0 20px rgba(230,221,221,.2);overflow:hidden;filter:brightness(120%);transition:all .4s}
.moretxt{margin-bottom:2.5rem!important}
.bullstcolor li::marker{color:#ba1a16!important;font-size:20px!important}
.fc .fc-button{font-size:.7em;padding:.4em .45em}
.calloader{position:absolute;left:50%;top:50vh;transform:translateX(50%)}
.drop .dropdown-menu{max-height: 200px;
    max-width: 350px;
    min-width: 350px;
    overflow: auto;}
	/* .dropdown-menu{max-height: 200px;
		max-width: 350px;
		min-width: 350px;
		overflow: auto;} */
.checkheight .list-group-item{padding:0!important}

/* Lang Btn */
.lang-btn-drop{position:absolute;top:30px;right:30px;min-width:120px}
.lang-btn-drop .dropdown-toggle span{margin-right:8px;flex-shrink:0}
.lang-btn-list{position:relative;padding-left:30px;display:flex;align-items:center}
.lang-btn-flag{display:inline-block;width:20px;flex-shrink:0;margin-right:8px}
.lang-btn-flag img{display:block;width:100%}
.lang-btn-list .dropdown-link{font-size:12px}

/* Editor Feild */
.ng-select.is-invalid .ng-select-container{border-color:#ff3e1d!important}
.ng-untouched.is-invalid .ck-editor__editable{border-color:#ff3e1d!important}
.wrapper.is-invalid .custom{border-color:#ff3e1d!important}
.editorbottom .ck.ck-reset_all{position:absolute!important;bottom:2px!important;background:#fff!important;width:99%!important;left:0;right:0;margin:auto}
.editorbottom .ck-editor__editable{overflow:auto!important;max-height:250px!important}
.editorbottom .ck.ck-toolbar{background:transparent!important}
.editorbottom .ck.ck-toolbar__items{height:39px!important;max-width:70%!important;overflow:hidden!important;z-index:10!important}
.editor-disabled .ck-editor__editable{background-color:#e9ecef;cursor:pointer}
@media (max-width: 768px) {
	.ck.ck-toolbar>.ck-toolbar__items{
    font-size: 10px;
}
}
@media (max-width: 320px) {
	.ck.ck-toolbar>.ck-toolbar__items{
		font-size: 8px;
	}
}
/* table */
.br-a{display:flex;align-items:center;justify-content:space-between;padding-top:16px;padding-bottom:16px;line-height:normal}
.br-ab{display:flex;align-items:flex-start;justify-content:space-between;padding-top:16px;line-height:normal}
.br-a div{display:flex;align-items:center;justify-content:flex-end;flex-shrink:0;padding-top:8px;margin-bottom:16px}
.br-a div span{font-size:12px;color:var(--bs-gray-dark);margin-left:16px;cursor:pointer}
.br-a div span:hover{color:var(--bs-primary)}
.br-a div span i{margin-right:4px}
.t-text{display:flex;align-items:center;border-radius:8px;margin-bottom:8px}
.t-text span{font-size:14px;color:#666;line-height:normal;display:block;flex:50%;flex-shrink:0}
.t-text p{font-size:14px;line-height:normal;font-weight:600;margin-bottom:0;color:#333;flex:50%}
.t-text p a{color:#333}

.br-table.nav-align-top .nav-tabs~.tab-content{padding:0;box-shadow:none}
.nav-align-top.br-table .nav-tabs{margin-bottom:0}
.nav-align-top.br-table .nav-tabs .nav-link{background-color:#fff!important;font-size:12px;font-weight:800;padding:8px 16px;line-height:normal}
.br-table .table> :not(caption)>*>*{padding:8px 16px}
.br-table .table-striped>tbody>tr:nth-of-type(odd)>*{--bs-table-accent-bg:#f1f3f5}
.br-table .table-striped>thead td{background-color:var(--bs-gray-dark)}
.p-text{display:flex}
.newclass{color:#000;font-weight:500;font-size:12px}
.newclass:hover{color:#BA1A16;font-weight:500;text-decoration:underline}
.br-form .invalid-feedback{line-height:normal;font-size:10px!important}
.br-control{display:flex;align-items:center;position:absolute;bottom:7px;right:8px}

/* Custom Table */
/* .custablenew tr.highlighted td{--bs-table-striped-bg:#f9ecf0!important;--bs-table-bg:#f9ecf0!important} */
.custablenew th{font-size:12px!important}
.custablenew td{font-size:12px!important;white-space:normal!important}
.penclr span i:hover{color:#BA1A16!important}
.custablenew> :not(caption)>*>*{padding:5px!important}

/* new dattaaa added */
.offcanvas-body .reduce h5 {font-size: 14px !important}
/* .offcanvas-body.iconcolor i {font-size: 12px !important} */

/* Kanban Card */
.p-card{box-shadow:none;border:1px solid #fff;backdrop-filter:blur(10px);border-radius:8px;background:#fff;border-top:6px solid #fff}
.p-card.InProgress .list .list-item .p-chip .p-chip-text{color:#17a3d4}
.p-card.Completed .list .list-item .p-chip .p-chip-text{color:#55ae22}
.p-card .p-card-body{padding: 0.4rem 1rem 0}
.p-card h2{font-size:16px;padding:0 0 .6rem;margin:0 0 .6rem;font-weight:600;color:#fff;display:flex;align-items:center;justify-content:space-between}
.p-card h2 .p-chip{background-color:#dcf2fc;margin:0 0 0 .5rem}
.p-card h2 .p-chip .p-chip-text{font-size:12px}
.p-card h2 .p-button-rounded{height:2rem!important;width:2rem}
.p-card .list .list-item{padding:1rem .7rem;background:rgba(255,255,255,0.3);margin:0 0 .4rem;border-radius:4px;color:#695353;cursor:move}
.p-card .list .list-item .p-chip{background-color:#ffffff}
.p-card .list .list-item .p-chip .p-chip-text{font-size:12px;color:#7f7f92;line-height:1}
.p-card .list .list-item .dt{font-size:12px;text-align:right;color:#22222b;padding:0 0 .5rem;margin:0 0 1rem;border-bottom:1px solid #fff;}
.p-card .list .list-item .task-body{font-size:14px}
.p-card .list .list-item .task-body h4{font-weight:600;margin:0 0 .4rem;padding:0}
.p-card .list .list-item .task-body p{font-weight:300;margin:0;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;overflow:hidden}
.p-card .list .list-item .task-footer{border-top:1px solid #fff;padding:.5rem 0 0;margin:1rem 0 0;font-size:12px;color:#22222b}
.p-card .list .list-item .task-footer .pi{font-size:12px}
.neCmt p{
	margin-bottom: 0px !important;
	font-size: var(--bs-body-font-size-sm);
}
.actcmt p{
	margin-bottom: 10px !important;
	font-size: var(--bs-body-font-size-sm);
}
.heightdrop.dropdown-menu{--bs-dropdown-max-height: none !important;}

.no-scroll::-webkit-scrollbar {
    display: none;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
  }
  .max-h-300  {
    max-height: 300px; 
  }

  .cus_new p{
      font-size: var(--bs-body-font-size-sm);

  }

  image-cropper {
	max-height: 33vh !important;
  }

#addckediotr .ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar{
	position: absolute;
    background: unset;
    width: 100%;
  }
#addckediotr .ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
    padding: 25px 9px 0 !important;
}

#addckediotr .ck.ck-editor__editable.ck-focused:not(.ck-editor__nested-editable) {
    padding: 25px 9px 0 !important;
} 

/* .ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar {
    display: none !important;
}

.ck.ck-editor__editable.ck-focused:not(.ck-editor__nested-editable) ~ .ck.ck-editor__top .ck-sticky-panel .ck-toolbar  {
    padding: 20px 8px 0 !important;
	display: block !important;
} */
.startDateError{
	bottom: auto;
    top: 100%;
    margin-top: 0;
    font-size: 0.625rem;
    font-weight: 400;
    color: var(--bs-danger);
}
.customer .nav-tabs .nav-link.active{
	background-color:#eff2f6 !important
}
.customer .nav-tabs .nav-item .nav-link:not(.active) {
	background-color:var(--bs-nav-tabs-link-active-bg) !important
}
.customer .nav-tabs .nav-item .nav-link {
	border-bottom: 0 !important;
}
.customer.nav-align-top .table:not(.table-dark) td{
	border-color: inherit !important
}
.disabledCustomer {
	opacity: 0.5;
	pointer-events: none; /* Ensure no events are fired */
  }
  .heightchecked{
	height: calc(100vh - 287px)  !important;
  }

  .unicontaoffcanvs{
	width: 1264px !important;
    height: 56px !important;
    left: 236px !important;
    padding: 8px 16px 8px 16px !important;
	background-color: #1B2844 !important;
    color: white !important;
  }
  #audio-progress {
    width: 100%;
    height: 13px;
    background-color: #ddd;
    position: relative;
    border-radius: 50px;
  }
  #audio-progress-bar {
    height: 100%;
    background-color: var(--bs-primary);
    border-radius: 50px;
  }
  #draggable-point {
    position: absolute;
    top: -3px;
    width: 20px;
    height: 19px;
    background: #fff;
    cursor: pointer;
    transform: translateX(-50%);
    border-radius: 50%;
    border: 1px solid var(--bs-primary);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  }