@defer(when selectedLang) {
<div class="dropdown lang-dropdown lang-btn-drop">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
    <img loading="lazy" src="{{ selectedLang?.flag }}" alt="{{ selectedLang }}" width="20" height="20"> &nbsp;
    {{ selectedLang?.language }}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

    <a *ngFor="let language of languageList" class="dropdown-item " (click)="langugaeSelected(language)">
      <img loading="lazy" src="{{ language.flag }}" width="20" height="20">
      {{ language.language }}
    </a>
  </div>
</div>
}
<div class="section bg-white d-flex align-items-lg-center justify-content-lg-center reg-login-section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 order-last order-lg-first">
        <figure class="w-100">
          <img src="assets/img/product-manager-two-color.svg" class="img-fluid" alt="...">
        </figure>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-5 offset-lg-1 order-first order-lg-last">
        <div class="authentication-wrapper authentication-basic container-p-y">
          <div class="authentication-inner">
            <!-- Logo -->
            <div class="app-brand justify-content-center mb-4">
              <a class="app-brand-link">
                <span class="app-brand-logo demo">
                  <img src="assets/img/SeeSafeIT-logo.svg" loading="lazy">
                </span>
              </a>
            </div>
            <!-- /Logo -->

            <h4 class="mb-4 text-center">
              {{ router === '/login' ? LOGIN?.LOGIN?.Login_name : 'Login Your Account' }}
            </h4>


            <!-- <app-header></app-header> -->


            <form id="formAuthentication" class="mb-4" [formGroup]="LoginForm" (ngSubmit)="loginSubmit()">
              <!-- <div *ngIf="isTrue">
                <h6 class="head6 text-center">
                  {{  LOGIN?.DETAILS?.Your_email_id_is_not_verified ? LOGIN?.DETAILS?.Your_email_id_is_not_verified : "Your email id is not verified"}}!
                </h6>
                <p class="otpverify">{{ LOGIN?.DETAILS?.Please ? LOGIN?.DETAILS?.Please : 'Please'}} <span class="click"
                    (click)="resend(this.loginRes);">{{LOGIN?.DETAILS?.click_here ? LOGIN?.DETAILS?.click_here : 'click here'}}</span>
                  {{LOGIN?.DETAILS?.to_send_the_OTP_to_your_email_account_to_verify_your_email ? LOGIN?.DETAILS?.to_send_the_OTP_to_your_email_account_to_verify_your_email : 'to send the OTP to your email account to verify your email' }}
                </p>
              </div>
              <div *ngIf="isActivate">
                <h6 class="head6 text-center">
                  {{LOGIN?.DETAILS?.Activation_is_pending ? LOGIN?.DETAILS?.Activation_is_pending : 'Activation is pending'}}!
                </h6>
                <p class="otpverify">{{ LOGIN?.DETAILS?.Please ? LOGIN?.DETAILS?.Please : 'Please'}} <span class="click"
                    (click)="activateFn(this.loginRes.business_account?.id);">{{LOGIN?.DETAILS?.click_here ? LOGIN?.DETAILS?.click_here : 'click here'}}</span>
                  {{LOGIN?.DETAILS?.to_submit_the_activation_request_to_the_admin_promptly ? LOGIN?.DETAILS?.to_submit_the_activation_request_to_the_admin_promptly : 'to submit the activation request to the admin promptly'}}
                </p>
              </div> -->
              <div class="mb-3">
                <div class="position-relative">
                  <label class="form-label">
                    {{ router === '/login' ? LOGIN?.LOGIN?.Email : 'Email' }}
                  </label>
                  <input type="email" class="form-control" autoComplete="webauthn"
                    [ngClass]="{ 'is-invalid':  email.invalid && (email.dirty || email.touched) }"
                    formControlName="emailId" name="email" placeholder="Email">
                  <div *ngIf="email.invalid && (email.dirty || email.touched)"
                    class="invalid-feedback position-absolute start-0">
                    <div *ngIf="email.errors?.['required']">
                      {{ router === '/login' ? LOGIN?.LOGIN?.Email_req : 'Email is required' }}
                    </div>
                    <div *ngIf="email.errors?.['email']">
                      {{ router === '/login' ? LOGIN?.LOGIN?.Email_invalid : 'Invalid email address' }}
                    </div>
                  </div>
                </div>


              </div>
              <div class="form-password-toggle mb-4">

                <div class="position-relative">
                  <label class="form-label">{{ router === '/login' ? LOGIN?.LOGIN?.Password : 'Password' }}
                  </label>
                  <div class="input-group input-group-merge">
                    <input type="{{ passwordHidden ? 'password' : 'text' }}" class="form-control"
                      autoComplete="webauthn"
                      [ngClass]="{ 'is-invalid': password.invalid && (password.dirty || password.touched) }"
                      formControlName="password" name="password"
                      placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                      aria-describedby="password" />
                    <div *ngIf="password.invalid && (password.dirty || password.touched)"
                      class="invalid-feedback position-absolute start-0">
                      <div *ngIf="password.errors?.['required']">
                        {{ router === '/login' ? LOGIN?.LOGIN?.Password_req : 'Password is required' }}
                      </div>
                    </div>
                    <span class="input-group-text cursor-pointer" (click)="togglePasswordVisibility()">
                      <i *ngIf="passwordHidden" class="fa-regular fa-eye"></i>
                      <i *ngIf="!passwordHidden" class="fa-regular fa-eye-slash"></i>
                    </span>
                  </div>
                </div>
              </div>
              <div class="mb-3" *ngIf="router === '/login'">
                <a routerLink="/login/forgot-password"
                  class="fw-semibold dark-blue fs-7">{{LOGIN?.LOGIN?.Forgot_Pass}}</a>
              </div>

              <button [disabled]="isLoading" type="submit" class="btn btn-dark-blue btn-block w-100"
                *ngIf="router === '/admin'? 'Admin Login': LOGIN?.LOGIN?.Login">
                <!-- <span style="position: relative;"> -->
                <span *ngIf="!isLoading"> {{ router === '/admin'? 'Admin Login': LOGIN?.LOGIN?.Login}} </span>
                <i class="fa-solid fa-circle-notch fa-spin " *ngIf="isLoading" style="color: white;"></i>
                <!-- </span> -->

              </button>
            </form>

            <p class="text-center fs-7" *ngIf="router === '/login'">
              <span>{{LOGIN?.LOGIN?.Dont_acc}}</span>&nbsp;
              <a routerLink="/signup" class="fw-semibold dark-blue">{{LOGIN?.LOGIN?.Create_Acc}}</a>
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
